<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="css/style.css" type="text/css" rel="stylesheet"></link>
    @RenderSection("styles", required: false)
</head>
<body>
    <div ng-cloak>
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
