@{
    ViewBag.Title = "Initial Page";
    Layout = "_Layout";
}

@section Scripts {
  <script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
    <script>
        System
            .import('app/app.js')
            .catch( console.error.bind(console) ); // make sure any errors print to console
    </script>
}
<div ui-view class="well" layout-fill>

</div>